{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Gatos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit, voluptatibus vitae eligendi fuga dolore veritatis alias cupiditate sint illum consequatur necessitatibus aut a! Dolores accusamus rerum officiis omnis non?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/gato.jpg" class="img-thumbnail">
    </div>
</div>
   
{{> footer }}